# Imports

In [1]:
#Numpy
import numpy as np
#Pandas
import pandas as pd

In [2]:
# URL
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'

basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"

In [3]:
# URL
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

akas.head(2)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0

In [4]:
# URL
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

ratings.head(2)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1983
1  tt0000002            5.8       265

# Preprocessing

## Akas

- keep only US movies.

In [5]:
keep_us = akas['region'] == 'US'

In [6]:
akas = akas[keep_us]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0
...,...,...,...,...,...,...,...,...
36424559,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,\N,imdbDisplay,\N,0
36424629,tt9916620,1,The Copeland Case,US,\N,imdbDisplay,\N,0
36424718,tt9916702,1,Loving London: The Playground,US,\N,\N,\N,0
36424761,tt9916756,1,Pretty Pretty Black Girl,US,\N,imdbDisplay,\N,0
36424777,tt9916764,1,38,US,\N,imdbDisplay,\N,0

- Replace "\N" with np.nan

In [7]:
# Replace \N with nan
akas = akas.replace({'\\N':np.nan})

In [8]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448689 entries, 5 to 36424777
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1448689 non-null  object
 1   ordering         1448689 non-null  int64
 2   title            1448689 non-null  object
 3   region           1448689 non-null  object
 4   language         3976 non-null     object
 5   types            980763 non-null   object
 6   attributes       46881 non-null    object
 7   isOriginalTitle  1447347 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.5+ MB

## Basics
- Replace "\N" with np.nan

In [9]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9978989 entries, 0 to 9978988
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 685.2+ MB

In [10]:
# Replace \N with nan
basics = basics.replace({'\\N':np.nan})

- Eliminate movies that are null for runtimeMinutes 

- Eliminate movies that are null for genre

In [11]:
# Missing values in runtimeMinutes
basics['runtimeMinutes'].isna().sum()

7016116

In [12]:
# Missing values in genres
basics['genres'].isna().sum()

448380

In [13]:
# Drop nan from runtimeMinutes and genres

basics = basics.dropna(subset = ['runtimeMinutes'])

In [14]:
# Confirm drop of missing values in runtimeMinutes
basics['runtimeMinutes'].isna().sum()

0

In [15]:
basics = basics.dropna(subset = ['genres'])

In [16]:
# Confirm drop of missing values in genres
basics['genres'].isna().sum()

0

In [17]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

- keep only titleType==Movie

In [18]:
keep_movie = basics['titleType'] == 'movie'

In [19]:
basics = basics[keep_movie]

In [41]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86885 entries, 0 to 86884
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86885 non-null  object
 1   titleType       86885 non-null  object
 2   primaryTitle    86885 non-null  object
 3   originalTitle   86885 non-null  object
 4   isAdult         86885 non-null  int64
 5   startYear       86885 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86885 non-null  int64
 8   genres          86885 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.0+ MB

- keep startYear 2000-2022

In [21]:
# filter for 2000 and greater
keep_2000 = basics['startYear'] >= '2000'

In [22]:
# filer for less than 2023
keep_2022 = basics['startYear'] <'2023'

In [23]:
# combine filters
keep_years = keep_2000 & keep_2022

In [24]:
# save filers to DF
basics = basics[keep_years]

In [25]:
# confirm remaining years
basics['startYear'].value_counts()

2017    14392
2018    14367
2019    14114
2016    13979
2015    13489
2014    13131
2022    12979
2021    12436
2013    12405
2012    11659
2020    11606
2011    10786
2010    10218
2009     9375
2008     8165
2007     6974
2006     6533
2005     5854
2004     5220
2003     4603
2002     4140
2001     3881
2000     3650
Name: startYear, dtype: int64

- Eliminate movies that include "Documentary" in genre (see tip below)

In [26]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [27]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])

In [28]:
#Now filter basics
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86799,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9978127,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9978522,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9978662,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9978671,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9978755,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [29]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86885 entries, 34803 to 9978755
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86885 non-null  object
 1   titleType       86885 non-null  object
 2   primaryTitle    86885 non-null  object
 3   originalTitle   86885 non-null  object
 4   isAdult         86885 non-null  object
 5   startYear       86885 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  86885 non-null  object
 8   genres          86885 non-null  object
dtypes: object(9)
memory usage: 6.6+ MB

## Ratings

- Replace "\N" with np.nan (if any)

In [30]:
# Replace \N with nan
ratings = ratings.replace({'\\N':np.nan})

- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [31]:
# Filter the basics table down to only include the US by using the filter akas dataframe
r_keepers =ratings['tconst'].isin(akas['titleId'])

In [32]:
#Now filter basics
ratings = ratings[r_keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1983
1        tt0000002            5.8       265
4        tt0000005            6.2      2623
5        tt0000006            5.1       182
6        tt0000007            5.4       821
...            ...            ...       ...
1325880  tt9916200            8.1       230
1325881  tt9916204            8.2       264
1325888  tt9916348            8.3        18
1325889  tt9916362            6.4      5395
1325894  tt9916428            3.8        14

[502552 rows x 3 columns]

In [33]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502552 entries, 0 to 1325894
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         502552 non-null  object
 1   averageRating  502552 non-null  float64
 2   numVotes       502552 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

# Saving to Data Folder & Compressing Files

In [34]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['favorites.csv',
 'authors.csv',
 'users.csv',
 'title_basics.csv.gz',
 'books.csv',
 'title_akas.csv.gz',
 'title_ratings.csv.gz']

In [35]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [36]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [37]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [38]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [39]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [40]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1983
1  tt0000002            5.8       265
2  tt0000005            6.2      2623
3  tt0000006            5.1       182
4  tt0000007            5.4       821